<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">HepsiTrend</a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

      </ul>

      <ul class="navbar-nav ml-auto">

        {% if user_login == 1 %}

        <li class="nav-item active">
          <a class="nav-link" href="/user/my">Profilim</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/user/logout">Çıkış yap</a>
        </li>

        {% else %}

        <li class="nav-item active">
          <a class="nav-link" href="/user/register">Kayıt ol</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/user/login">Giriş yap</a>
        </li>
        
        {% endif %}
        

      </ul>
        
        </ul>
    </div>


  </nav>

  