{% extends "layout.html" %}

{% block body %}

<div class="text-center">

  <img src="static/img/logo.png" alt="hepsitrendLogo" class="responsive" width="30%">
  <br></br>

  <p>Hepsiburada&Trendyol E-ticaret sitelerinde fotoğraf ile ürün arama motoru</p>

  <br>

</div>


<div id="l-img-r-txt">
  <div class="l-img-r-txt_img">

    <div class="video-container">

      <iframe src="https://www.youtube.com/embed/8DC_ZhU1nkY" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>

    </div>

  </div>
  <div class="l-img-r-txt_txt">
    <p>Projenin amacı, kullanıcıların telefonlarından çektikleri veya sistemden yükledikleri fotoğraflardan yola
      çıkarak, bu fotoğraflara Benzer ürünleri tespit edip satın almalarına olanak sağlamak. Kısaca kullanıcıların çok
      beğendikleri ama bir türlü bulamadıkları ürünleri, ürün fotoğrafı aracılığıyla kolayca bulmalarını sağlamak.
      Projenin hedefi, Türkiye’deki tüm E-ticaret sitelerini sisteme dahil ederek tek bir uygulama aracılığıyla fotoğraf
      ile ürün arama ve satın alma olanağı sağlamak.
    </p>
    <p>
      Proje oluşturucu : <a href="https://www.ahmetfurkandemir.com/">Ahmet Furkan Demir</a>
    </p>

    <p>
      Danışman Öğretim Görevlisi : <a href="https://www.erbakan.edu.tr/personel/2723/murat-karakoyun">Murat
        Karakoyun</a>
    </p>
  </div>
</div>

<br></br>

<h5>
  Uygulama geçmişi
</h5>
<hr>

<div id="l-txt-r-img">
  <div class="l-txt-r-img-img">
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7010991877965418497" allowfullscreen=""
      title="Gömülü gönderi" class="responsive" width="98%" height="98%" frameborder="0"></iframe>

  </div>
  <div class="l-txt-r-img-txt">
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7047907250153119744" allowfullscreen=""
      title="Gömülü gönderi" class="responsive" width="98%" height="98%" frameborder="0"></iframe> </div>
</div>


<style>
  #l-img-r-txt,
  #l-txt-r-img {
    display: flex;
  }

  .l-img-r-txt_img {
    height: 300px;
    width: 100%;
    display: inline-block;
  }

  .l-img-r-txt_txt {
    height: auto;
    width: 100%;
    display: inline-block;
  }

  .l-txt-r-img-img {
    height: 300px;
    width: 100%;
    display: inline-block;

  }

  .l-txt-r-img-txt {
    height: auto;
    width: 100%;

    display: inline-block;
  }

  @media only screen and (min-width: 1000px) {
    .l-img-r-txt_img {
      height: 300px;
      width: 50%;
      float: left;
    }

    .l-img-r-txt_txt {
      height: 300px;
      width: 49%;
      float: right;
    }

    .l-txt-r-img-img {
      height: 300px;
      width: 50%;
      float: right;
    }

    .l-txt-r-img-txt {
      height: 300px;
      width: 50%;
      float: left;
    }
  }

  #l-img-r-txt,
  #l-txt-r-img {
    display: flow-root;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
  }
</style>

{% endblock body %}