{% extends "layout.html" %}

{% block body %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br></br>

<div class="proje-box container">

    <h3>Bulunan Benzer Ürünler</h3>

    <div class="gallery">

        {% for product in products %}

          {% if product.pr_id == -99 %}

        <div class="content">
        <img class="img-a" src="/static/uploads/{{product.img_url}}">
        <br>
        <h3>Aranan Ürün</h3>
        <br>
        <p></p>
        <h6></h6>


        <form target="_blank">
            <button class="buy-2 buttona" formaction="/static/uploads/{{product.img_url}}">Görüntüle</button>
        </form>
      </div>


        {% else %}

        <div class="content">
            <img class="img-a" src="{{product.img_url}}">
            <br>
            <h7>{{product.pr_name}}</h7>
            <br></br>
            <h8>{{product.pr_price}}</h8>
    
            <form target="_blank">
                <button class="buy-1 buttona" formaction="{{product.pr_url}}">Ziyaret Et</button>
            </form>
          </div>
 

        {% endif %}
 



        {% endfor %}

    </div>

    <div style="display: flex; justify-content: space-around">
        <div></div>
        <div></div>
        <div>
            <form method="GET" action="/" enctype="multipart/form-data">
                <button type="submit" class="btn btn-secondary">Yeni ürün ara <i
                        class="fa-solid fa-magnifying-glass"></i></button>

            </form>
        </div>
    </div>



</div>

<br></br>

<style type="text/css">

    body{
      
    margin: 0;
    font-family:Nunito Sans;
    }
    h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    }
    a{
    text-decoration: none;
    }
    .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    }
    .content{

    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
    }
    .content:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translate(0px, -8px);
    transition: .6s;
    }
    .img-a{
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
    }
    p{
    text-align: center;
    color: #b2bec3;
    padding: 0 8px;
    }
    h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
    }

   
    .fa{
    color: #ff9f43;
    font-size: 26px;
    transition: .4s;
    }
    .fa:hover{
    transform: scale(1.3);
    transition: .6s;
    }
    .buttona{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border:0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    }
    .buy-1{
    background-color: #6c757d;
    }
    .buy-2{
    background-color: #34495e;
    }
    .buy-3{
    background-color: #0b0b0b;
    }
    @media(max-width: 1000px){
    .content{
    width: 46%;
    }
    }
    @media(max-width: 750px){
    .content{
    width: 100%;

    }
    }
  </style>
{% endblock body %}